<!DOCTYPE html>
<html>
<head>
    <title>Chat with {{ recipient }}</title>
</head>
<body>
    <h1>Chat with {{ recipient }}</h1>

    <div id="chat-messages"></div>
    <form id="message-form">
        <input type="text" id="message-input" placeholder="Type your message">
        <button type="submit">Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>