{% extends 'base.html' %}

{% block content %}

 <h1>Chat</h1>

    <form id="message-form">
        <input type="text" id="recipient_input" placeholder="Enter recipient username">
        <button type="submit">Start Chat</button>
    </form>

    <div id="chat-messages"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io();
        const messageForm = document.getElementById('message-form');
        const recipientInput = document.getElementById('recipient_input');
        const chatMessages = document.getElementById('chat-messages');
        const username = '{{ user.username }}';

        messageForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const recipient = recipientInput.value;
            if (recipient) {
                // Redirect to the chat page with the recipient username
                window.location.href = '/chat/' + recipient;
            }
        });

        socket.on('message', (data) => {
            const messageItem = document.createElement('li');
            messageItem.textContent = `${data.sender}: ${data.data}`;
            chatMessages.appendChild(messageItem);
        });
    </script>


{% endblock %}